<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>T7s 中文 WIKI</title>
    <link rel="stylesheet" type="text/css" href="/static/css/text.css">
    {% block css %}
    {% endblock %}
</head>
<body>
    <div id="container">
        <div id="menu">
            <div id="submenu" style="display: flex; flex-direction: column">
                <a id="logo_a" href="/">
                    <img src="/static/images/logo.jpg" class="logo">
                    <img src="/static/images/logo_k.png" class="logo">
                </a>

                <header>{{ ver }} </header>
                <ul class="menu">
                    <li class="menu"><a class="menu" href="/event/">Event</a> </li>
                    <li class="menu"><a class="menu" href="/character/">Character</a> </li>
                    <li class="menu"><a class="menu" href="/card/">Card</a></li>
                    <li class="menu"><a class="menu" href="/songs/">Songs</a> </li>
                    <li class="menu"><a class="menu" href="/about/">About</a> </li>
                </ul>
            </div>
        </div>
        <div id="content">
            <div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <div id="footer">
        @Tokyo 7th Chinese WIKI Developed by BlueRain77, Sagilio
    </div>
</body>
</html>