{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/card.css">
{% endblock %}

{% block content %}
<div class="search_box">
    <div class="search_title">搜索条件</div>
    <div class="search_form">
        {% for i in select_list.keys() %}
        <div class="form_group">
            <label>{{ select_name_list[i] }}</label>
            <label>
                <select name={{ i }} class="select_item" form="submit">
                    <option value>-</option>
                    {% for item in select_list[i] %}
                    <option value={{ item[0] }}>{{ item[1] }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        {% endfor %}
        <form action="/card/" id="submit" method="post">
            <input type="submit" class="select_item" value="搜索">
        </form>
    </div>
</div>

{% if show_block == True %}
<div class="search_box" style="border-color: brown;box-shadow: 0 0 0 1.5px brown inset">
    <div class="search_title" style="background-color: brown">搜索结果</div>
    <div class="table">
        <table>
            <thead>
            <tr>
                <th scope="col">序号</th>
                <th scope="col">稀有度</th>
                <th scope="col">卡片标题</th>
                <th scope="col">角色</th>
            </tr>
            </thead>
            <tbody>
            {% if block_data != None %}
            {% for i in range(block_data | length) %}
            <tr>
                <th>{{ block_data[i][0] }}</th>
                <th>{{ select_list["rarity_id"][-1+block_data[i][3]|int][1] }}</th>
                <th>{{ block_data[i][1] }}</th>
                <th>{{ select_list["character_id"][-1+block_data[i][2]|int][1] }}</th>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

</div>
{% endif %}

<div class="search_box" style="border-color: aquamarine;box-shadow: 0 0 0 1.5px aquamarine inset">
    <div class="search_title" style="background-color: aquamarine;">  注意事项</div>
    <div class="search_form">
        content
    </div>
</div>
{% endblock %}